<%
  page_title "Complains"
  breadcrumb "Dashboard": root_path, "Complains": nil
%>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <%=  link_to new_complain_path, class: "btn  pull-left" do %>
          <i class="fa fa-plus" aria-hidden="true"></i> Add Complain
        <% end %>
        <%= @datatable.render_html search_complains_path(format: :json) %>

      </div>
    </div>
  </div>
</div>


