<%
  page_title "Customers"
  breadcrumb "Dashboard": root_path, "Customers": nil
%>


<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <%=  link_to new_customer_path, class: "btn  pull-left" do %>
          <i class="fa fa-plus" aria-hidden="true"></i> Add Customer
        <% end %>
        <%= @datatable.render_html search_customers_path(format: :json) %>

      </div>
    </div>
  </div>
</div>
